{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" href="static/icon.png">
    <title>Works of Wonder</title>


    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>


    <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
</head>

<body background = "static/quiet.jpg" id="background">
    <!-- NAVBAR -->
    <nav class="navbar navbar-expand navbar-dark justify-content-center">
        <h1>Works of Wonder</h1>
    </nav>


    <!--HERO-->
    <div class="jumbotron text-center hero-background-img">
        <div class="row">
            <div class="col-6">
                <br><br><br><br><br><br>
                <h1>Readers</h1>
                <form action='readers/' method='POST'>{% csrf_token %}
                    <button type="submit" class="btn btn-outline-light btn-sm">Enter</button>
                <!-- <a href="readers.html"><button type="button" class="btn btn-outline-light btn-sm">Enter</button></a> -->
                </form>
            </div>
            <div class="align-self-center col-6">
                <br><br><br><br><br><br>
                <h1>Writers</h1>
                <a  href="login.html"><button type="button" class="btn btn-outline-light btn-sm">Enter</button></a>
            </div>
        </div>
    </div>

    <!--FOOTER-->
    <div class="footer p-6 text-white">
            &copy; 2019 Aleia Knight
          </div>
</body>
</html>

